body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 1250px;
  padding: 20px;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #7e30ff;
  color: white;
  font-size: 14px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

